@layer components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "tw-animate-css";

*,
::after,
::before,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
}
:root {
  --color-primary: #a259ff;
  --color-secondary: #4b277b;
  --color-accent: #ff61d3;
  --color-background: #0f0f10;
  --color-text-primary: #ffffff;
  --color-text-secondary: #a3a3a3;
  --color-G1-background: #2e335a;
}
html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@keyframes rotate-left {
  0% {
    transform: rotate(0deg) translateX(100vw) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(100vw) rotate(-360deg);
  }
}

@keyframes rotate-right {
  0% {
    transform: rotate(0deg) translateX(-100vw) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(-100vw) rotate(-360deg);
  }
}
